
form {
    display: inline-block;
    margin: 25px;
    width: auto%
}

label{
    display: block;
    height: 10px;
    margin-right:25px;
}
button{
    clear:both;
}
button:hover{
     box-shadow: 3px 5px 10px #888888;
}
form section{
    float: left;
}
input, select, button{    
    border: 1px solid #999;
    border-radius: 10px;
    width: 80%;
    height: 21px;
    margin-bottom: 5px;
}
