body {
    background: #fdba79;
    width: 95%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

h1 {
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 56px;
    color: white;
}

aside {
    display: none;
}

img {
    width: 100%;
}

td {
    padding-right: 8px;
}

.topnav {
    width: 100%;
    text-align: center;
    position: absolute;
    display: block;
    margin-top: 150px;
}

.topnav:hover .navlist {
    display: block;
    width: 100%
}

.navlist {
    border: solid 3px #ffea00;
    transform: translateY(-20px);
    display: none;
    list-style-type: none;
    list-style-position: inside;
    border-radius: 6px;
    padding: 0;
}

li:hover {
    background-color: #A4BA10;
    text-decoration: underline;
}

header {
    background-image: url("../img/header.jpg");
    height: 150px;
    position: relative;
    border: #ffea00 5px solid;
}

thead {
    text-align: center;
    background: #ff9e3f;
    border: #ff9e3f solid;
}

tbody {
    text-align: center;
    border: #ff9e3f solid;
}

tbody td {
    padding: 0 5px;
}

tbody tr:nth-child(odd) {
    background: #FFFF75;
}

table img {
    width: 50px;
}

.catalogusTable {
    margin-bottom: 1rem;
    min-width: 300px;
    width: 100%;
    clear: both;
    border: #ff9e3f solid;
}

main {
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.uitleningMain {
    text-align: center;
    margin: 0 20%;
    width: 60%;
}

.indexSection {
    margin-left: 20px;
    width: 100%;
}

footer {
    clear: both;
    height: 50px;
    width: 95%;
    padding: 18px 0;
    background-color: #ff9e3f;
    color: black;
    position: absolute;
}

h2 {
    text-align: center;
    margin: 0;
}

.backbutton {
    display: block;
    font-size: 21px;
    margin-bottom: 15px;
    border: #ffea00 5px solid;
    border-radius: 12px;
    width: 10%;
    background-color: #ff9e3f;
    padding: 5px 15px;
}

.backbutton:hover {
    background-color: #A4BA10;
}


h5 {
    font-size: 21px;
}

h6 {
    font-size: 16px;
}

.burgericon {
    clear: both;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    margin-top: 6px;
}

.maps {
    width: 350px;
}

.catalogusMain {
    margin: 0 10%;
    text-align: center;
    width: 80%;
}

.catalogusNav {
    overflow: hidden;
    text-align: center;
}

li {
    background-color: #ff9e3f;
}

.catalogusNav ul {
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.catalogusNav li {
    background: #ff9e3f;
    box-sizing: border-box;
    float: left;
    width: 33%;
    padding: 10px;
    border: 5px solid #ffea00;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
}

.catalogusNav li:hover {
    background-color: #A4BA10;
    text-decoration: underline;
}

.nieuwsartikel h5 {
    margin: 0 0 0 5px;
}

.catalogusNav li.selected {
    background-color: #A4BA10;
}

.catalogusNav li.selected:hover {
    background-color: #A4BA10;
    text-decoration: none;

}

.selected {
    background-color: #fdba79;
}

.selected:hover {
    background-color: #fdba79;
    text-decoration: none;
}

.nieuwsartikel {
    padding: 0 5px;
    border-top: #ffea00 solid;
    font-size: 12px;
}

.nieuwBoek {
    box-sizing: border-box;
    float: left;
    width: 20rem;
    min-width: 250px;
    min-height: 330px;
    margin: 15px;
    border: 2px solid #ff9e3f;
    box-shadow: 5px 5px #b2bcc6;
}

.nieuwBoek h5,
h6 {
    text-align: center;
    margin: 0;
    padding: 5px 5px;
}

.nieuwBoek img {
    max-width: 30%;
    margin: 5px;
    float: left;
}

.nieuwBoek p {
    padding: 5px;
    clear: both;
}

@media (min-width:610px) {
    .topnav {
        display: block;
        position: absolute;
        margin-top: 100px;
    }
    .navlist {
        transform: translateY(6px) translateX(3px);
        box-sizing: border-box;
        color: white;
        float: right;
        list-style-type: none;
        display: block;
        border: none;
    }
    .navlist li {
        display: block;
        float: left;
        padding: 5px 10px;
        border: 3px solid #ffea00;
        border-bottom: none;
        border-radius: 8px 8px 0 0;
    }
    .navlist li:last-child {
        border-left: 2px solid #ffea00;
        border-radius: 8px 0 0 0;
    }
    .topnav:hover {
        width: 100%;
    }
    .topnav:hover .navlist {
        transform: translateY(6px) translateX(3px);
        color: white;
        float: right;
        list-style-type: none;
        display: block;
        width: auto;
    }

    .navlist {
        display: block;
    }
    .burgericon {
        display: none;
    }

    aside {
        overflow: auto;
        margin: 1rem 0;
        display: inline-block;
        width: 12rem;
        height: 40rem;
        border: #ffea00 solid;
        float: left;
        background-color: #ff9e3f;
    }
    .indexSection {
        overflow: hidden;
        margin-left: 15rem;
        width: 50%;
    }
    form {
        margin: 25px;
    }
    input[type=text] {
        border: 1px solid #999;
        border-radius: 10px;
        width: 35%;
        height: 21px;
        margin-bottom: 5px;

        -webkit-appearance: none;
    }
}
